!jest.config.js
*.d.ts
src/**/*.js
test/**/*.js
node_modules
# Compiled code
lib/
.aws/
# CDK asset staging directory
.cdk.staging
cdk.out
coverage/
test/coverage.xml
test.ts
*error.log
.npmrc
.DS_STORE
local.*
repolinter/
.DS_Store
#package-lock.json
gitlab-ci.yaml
jsii
